@(projectHolderForm: play.data.Form[ProjectHolder], projectList: List[Project], customerList: List[Customer])

@main("Neue Auftraggeber"){
    <div class="row">
        <div class="col-xs-12">
            <h1>Neues Projekt zuweisen</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
        @helper.form(action = routes.ProjectHolderController.create()){

            @helper.select(
                field = projectHolderForm("tmpproject"),
                options = (projectList.map(project => project.getId().toString() -> project.getName())),
                'id -> "project",
                '_label -> "Projekt",
                'class -> "form-control")
            @helper.select(
                field = projectHolderForm("tmpcustomer"),
                options = (customerList.map(customer => customer.getId().toString() -> customer.getName())),
                'id -> "customer",
                '_label -> "Kunde",
                'class -> "form-control")

            <button type="submit" class="btn btn-success" value="Anlegen" ><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Einlagern </button>
        }
        </div>
    </div>

}