@(customer: Customer)

@main("Projekt Edit"){
    <div class="row">
        <div class="col-xs-12">
            <h1>Kunde: @customer.getName()</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <b>Infos</b>
            <div>@customer.getBranche()</div>
            <div></div>
        </div>
    </div>

    <div class="row add-item">
        <div class="col-xs-2">
            <a href="@routes.FormController.addProjectHolder()" class="btn btn-success"><i class="fa fa-plus-square fa-2x" aria-hidden="true"></i></a>
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped">
                <thead>
                    <tr>

                        <td>ID</td>
                        <td>Name</td>
                        <td>Beschreibung</td>
                        <td>Projektdauer</td>
                    </tr>
                </thead>
                <tbody>
                @for(project <- customer.getProjectHolders()){
                    <tr>
                        <td>@project.getProject().getId()</td>
                        <td>@project.getProject().getName()</td>
                        <td>@project.getProject().getBeschreibung()</td>
                        <td>@project.getProject().getProjektdauer()</td>


                    </tr>

                }



                </tbody>
            </table>
        </div>

    </div>

}