@()

<div class="nav-item">
    <a href="@routes.WorkerController.list()"><i class="glyphicon glyphicon-user" aria-hidden="true"></i> Mitarbeiter</a>
</div>
<div class="nav-item">
    <a href="@routes.HomeController.index()"><i class="glyphicon glyphicon-file" aria-hidden="true"></i> Projekte</a>
</div>
<div class="nav-item">
    <a href="@routes.TaskController.list()"><i class="glyphicon glyphicon-barcode" aria-hidden="true"></i> Aufgaben</a>
</div>
<div class="nav-item">
    <a href="@routes.CustomerController.list()"><i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i> Kunden</a>
</div>


