@(task: Task)


@main("Aufgaben"){
  <h1>@task.getName()</h1>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Beschreibung</td>
            <td>Dauer</td>
            <td>Projekt</td>
      <tbody>
        <tr>
          <td>@task.getId()</td>
          <td>@task.getName()</td>
          <td>@task.getBeschreibung()</td>
          <td>@task.getDauer()</td>
          <td>@task.getProject().getName()</td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>


  <div class="row back">
    <div class="col-xs-12">
      <a href="@routes.TaskController.list()"><i class="fa fa-caret-left" aria-hidden="true"></i> Zurück</a>
    </div>
  </div>

}